body{
    text-align: center;
    margin-top: 20%;
}
button{
    border-radius: 50px;
    background-color: blue;
    color: aliceblue;
}
input{
    border-radius: 10px solid black;
}
#output{
    background-color: black;
    color: aliceblue;
    margin-left: 40%;
    margin-right: 42%;
    margin-top: 1%;
}